html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {

font-size: 11px;
font-family: Tahoma;
background-color: #F9F9F9;


}

#cont {

margin: 0 auto;
width: 50%;
margin-top: 200px;
border-radius: 10px;
background-color: #ececec;
border: 1px solid #dcdcdc;
padding: 20px;

}

#cont h2 {

font-size: 24px;
margin-bottom: 30px;

}


#left_login {


float: left;
width: 45%;
margin-right: 10px;

}

#right_register {

float: right;
width: 50%;

}

#cont #zal {

background: #ce5f50;
font-weight: 700;
color: white;

}

#cont #zar {

background: #52ce50;
font-weight: 700;
color: white;

}

#cont input {

width: 100%;
padding: 20px;
border-radius: 15px;
background: white;
margin-bottom: 10px;
border: 0;

}

#cont_bar {

width: 100%;
background: white;
border-radius: 5px;

}

#bar_strong {
border-radius: 5px;
}

#reg_pass_err, #reg_date_err, #reg_em_err, #login_em_err, #login_pwd_err {

display: none;
margin-bottom: 10px;
padding-left: 15px;
color: red;

}

#register_info {
	
width: 50%;
margin: 0 auto;
margin-top: 20px;
height: 50px;
line-height: 50px;
text-align: center;
border-radius: 10px;
background-color: #ececec;
border: 1px solid #dcdcdc;
	
}

#user_panel {
	
width: 100%;
height: 50px;
background: #138da0;	

}

#cont_user_panel {
	
width: 50%;
margin: 0 auto;
height: 50px;
line-height: 50px;
color: white;
	
}

#cont_user_panel h3 {
	
font-size: 18px;
float: left;
	
}

#cont_user_panel h3 a {
	
	outline: none;
	text-decoration: none;
	color: white;
	
}

#cont_user_panel span {
	
float: right;
font-size: 14px;
}

